
.suggestion-selection .am-navbar {
}
.suggestion-selection div.nav .am-navbar-left {
  color: gray;
}
.suggestion-selection .am-list-header {
  color: #000000;
}
.suggestion-selection div.nav .am-navbar-title {
  margin: 0 140px;
  background-color:#c8c6c6;
}

.suggestion-selection .ant-tag {
  margin: 0 8px 5px 0;
}

.suggestion-selection .ant-rate {
  font-size: 14px;
  color: #308930e8;
  margin-right: 8px;
}

.suggestion-selection .ant-avatar {
  margin: 15px 0 0 8px;
}

.suggestion-selection .am-list-item {
  width: 230px
}

.suggestion-selection .ant-icon {
  margin: 15px 0 0 8px;
  font-size: 14px;
}

.suggestion-selection .inumber {
  margin: 15px 0 0 8px;
}

.suggestId {
  width: 100%;
}
input#suggestId  {
  color: #878b8d;
  font-size: 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 2px 0;
  border: 0;
  background-color: transparent;
  line-height: 1;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 44px;
  padding-left: 15px;
  border: solid 1px #999898;
  flex: 50% 2 1;
}
